@{
    ViewBag.Title = "Callback";
}
<div class="row">
    <div class="col-md-12">
        <h2>Callback</h2>
        <p>This application will use this URL to post to an Office 365 group:</p>
        <p>@ViewBag.PostUrl</p>
        <p>We will store this URL for communication with the group.</p>
    </div>
</div>
